<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>
    <a href="{% url 'leads:lead_list' %}">Go back to leads</a>
    <a href="{% url 'leads:lead_detail' lead.pk %}">Go back to lead {{ lead.first_name }} {{ lead.last_name }}</a>
    <hr/>
    <h1>Update existing lead: {{ lead.first_name }} {{ lead.last_name }}</h1>
    <form method="post">
      {% csrf_token %}
      {{ form.as_p }}
      <button type="submit" >Submit</button>
    </form>
  </body>
</html>