{% extends 'base.html' %}
{% load tailwind_filters %}
{% block content %}

<div class="max-w-lg mx-auto px-3" >
  <h1 class="text-4xl text-gray-800" >
    Log into your account
  </h1>
  <form method="post" class="mt-5" >
    {% csrf_token %}
    {{ form|crispy }}
    <button type="submit" class="w-full mt-3 mb-3 text-white bg-indigo-500 border-0 py-2 px-6 focus:outline-none hover:bg-indigo-600 rounded" >
      Login
    </button>
    <hr></hr>
  </form>
  <a href="{% url 'reset_password' %}" class="hover:text-blue-500" >
    Forgot password?
  </a>
</div>

{% endblock content %}